body{
    background-image: url(rig.jpg);
    background-attachment: fixed;
    background-size: 100% 100%; 
}

h1{
  font-family: Calibri; 
  font-size: 25pt;         
  font-style: normal; 
  font-weight: bold; 
  color:white;
  text-align: center; 
  text-decoration: underline
}

table{
  font-family: Calibri; 
  color:brown; 
  font-size: 11pt; 
  font-style: normal;
  font-weight: bold;
  text-align:; 
  background-color:rgb(254, 254, 254); 
  border-collapse: collapse; 
  border: 2px solid navy
}
table.inner{
  border: 0px
}